
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1c1c1c;
  border-bottom: 2px solid #444;
  position: relative;
  height: 60px;
}

header .left {
  display: flex;
  align-items: center;
}

header .home-icon {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

header .home-icon:hover {
  color: #ff6f61;
}

header .filter-toggle {
  width: auto;
  height: 100%;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #ff6f61;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px 20px;
}

header .filter-toggle:hover {
  background-color: #ff5a4d;
}
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border: 3px solid #1e1e1e;
  border-radius: 10px;
  background-color: #1e1e1e;
  padding: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2e2e2e;
  color: #e0e0e0;
}

button {
  border-radius: 5px;
  background-color: #ff6f61;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

a.registrati {
  border-radius: 5px;
  background-color: #4CAF50; 
  color: white;
  padding: 8px 14px; 
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: calc(100%); 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
}

a.registrati:hover {
  opacity: 0.8;
}
.title {
  position: absolute;
  left: 44%;
}
.cancelbtn {
  width: auto;
  padding: 10px 16px;
  background-color: #ff6f61;
  color: white;
  border-radius: 5px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  form {
      width: 90%;
  }
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}
