<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/newCollaboratorPage.css">
    <title>Add New Collaborator</title>
</head>

<body>
    <div id="notification" class="hidden"></div>
    <div class="container">
        <h1>Add New Collaborator</h1>

        <form class="collaborator-form" method="POST" action="/addCollaborator">
            <input type="text" id="collaboratorId" name="collaboratorId" placeholder="Collaborator ID" required>
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="text" id="surname" name="surname" placeholder="Surname" required>
            <button type="submit">Submit</button>
        </form>

        <a href="/profile" class="back-button">Back to Personal Area</a>
    </div>

</body>

</html>